# Day 2

In [2]:
print("hello")

hello

In [5]:
var1 = 12
var2 = 4.0
var3 = "dfdf"

In [6]:
print(var1,var2,var3)

12 4.0 dfdf

In [7]:
print(type(var1),type(var2),type(var3))

<class 'int'> <class 'float'> <class 'str'>

In [8]:
var4 = var1/4
print(var4)

3.0

In [10]:
x = int(input())
y = int(input())

print(x*y)

12
45
540

In [11]:
str1 = "Parul"
str2 = "University"
str3 = str1+str2
print(str3)

ParulUniversity

In [12]:
str3[3:]

'ulUniversity'

In [13]:
arr = [3,4,1,2,3,4,5,6]

In [14]:
print(arr[-1])

6

In [15]:
print(arr[3])

2

In [5]:
#Calculator

def calculator(input_1, input_2):
    input_op = int(input("1) for add. 2) for sub. 3) for multiply. 4) for divide"))

    if input_op == 1:
        print(input_1+input_2)
    elif input_op == 2:
        print(input_1-input_2)
    elif input_op == 3:
        print(input_1*input_2)
    elif input_op == 4:
        print(input_1/input_2)
    else:
        print("Error")

In [6]:
input_1 = int(input())
input_2 = int(input())

calculator(input_1, input_2)

12
3
1 for add /n 2 for sub /n 3 for multiply /n 4 for divide4
4.0

In [4]:
def hello():
    print("srijan")

In [5]:
if __name__ == "__main__":
    hello()

srijan

In [1]:
!python --version

Python 3.9.7